<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
</head>
<body>
    <h1>Weather checker</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="city" placeholder="Enter city">
        <button type="submit">Search</button>
    </form>

    {% if weather %}
        <h2>Weather in {{ weather.city }}</h2>
        <p>Temperature: {{ weather.temperature }}°C</p>
        <p>Description: {{ weather.description }}</p>
        {% if weather.icon %}
            <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Weather Icon">
        {% endif %}
    {% endif %}
</body>
</html>

